* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container .card-container .card {
  width: calc(100% / 4 - 20px);
  padding: 20px;
}

.container .card-container .card a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

form input {
  border: 1px solid #636b6f;
  padding: 5px;
  margin: 10px;
}

.delete-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-popup .sure {
  background: rgba(255, 255, 255, 0.75);
  padding: 30px;
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-popup .sure .buttons {
  display: flex;
  justify-content: center;
}

.delete-popup .sure .buttons button {
  background: grey;
  color: white;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 3px;
}

.delete-popup .sure .buttons button:hover {
  background: rgba(128, 128, 128, 0.85);
}

.delete-popup .sure .buttons form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.delete-popup .sure .buttons form input {
  background: grey;
  color: white;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}

.delete-popup .sure .buttons form input:hover {
  background: rgba(128, 128, 128, 0.85);
}

